MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=soa_db
MYSQL_USER=admin
MYSQL_PASSWORD=admin

DATABASE_URL=mysql+mysqlconnector://admin:admin@localhost:3306/soa_db
REDIS_URL=redis://localhost:6379/0
SEAWEED_MASTER=http://localhost:9333
SEAWEED_VOLUME=http://localhost:8080
YOLO_WEIGHTS_DIR=./weights
AZURE_FACE_ENDPOINT=https://soa-2026.cognitiveservices.azure.com/
AZURE_FACE_KEY=clave

# Keycloak DB (PostgreSQL)
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

# Keycloak admin user (para la consola web)
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Keycloak — OpenID Connect
KEYCLOAK_SERVER_URL=http://localhost:8081
KEYCLOAK_REALM=soa
KEYCLOAK_CLIENT_ID=soa
KEYCLOAK_CLIENT_SECRET=completar_con_client_secret
KEYCLOAK_JWKS_CACHE_TTL=600

# ID numérico del grupo docker en tu computadora, necesario para darle permisos al conenedor Telegraf de leer las métricas de Docker.
# El comando getent group docker | cut -d: -f3 te brinda el numero necesario
DOCKER_GID=126